<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse" id="my-navbar">
            <div class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <div class="pull-left">
                            <ul class="nav navbar-nav nav-left">
                                <li><span class="navbar-brand" id="firstlastnameNav"></span></li>
                                <li><a href="userProfile.html" style="font-size: 16px;" id="profileView">User Profile</a></li>
                                <li><a href="todolist.html" style="font-size: 16px;" id="todoView">TodoList</a></li>
                            </ul>
                        </div>
                        <div class="pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="login.html" onclick="mainServices.logout();" style="font-size: 16px;" id="LogoutView">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="main_content">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="box box-aqua">
              <div class="box-header ui-sortable-handle" style="cursor: move;">
                <i class="ion ion-clipboard"></i>
                <h2 align="center">Todo List</h2>
              </div>
              <div class="box-body form-bg">
                <div id="searchDiv">
                  <div class="well">
                    <label>
                        <input type="checkbox" id="searchIsDone" name="searchIsDone"> Is Done
                    </label>
                    <button class="btn btn-primary pull-right" onclick="searchTodoTaskServices.searchTasksIsDone();"><span class="glyphicon glyphicon-search"></span> Search </button>
                  </div>
                  <div class="well">
                    <label>
                      <input type="checkbox" id="searchIsPending" name="searchIsPending"> Is Pending
                    </label>
                    <button class="btn btn-primary pull-right" onclick="searchTodoTaskServices.searchTasksIsPending();"><span class="glyphicon glyphicon-search"></span> Search </button>
                  </div>
                  <div class="well">
                    <label for="editDueDate">Due Date Range: </label><br>
                    From<br>
                    <input type="date" id="fromDate" value="" name="fromDate"> <br>
                    To<br>
                    <input type="date" id="toDate" value="" name="toDate">
                    <button class="btn btn-primary pull-right" onclick="searchTodoTaskServices.searchTasksDuedateWise();"><span class="glyphicon glyphicon-search"></span> Search </button>
                  </div>
                  <div class="well">
                    <label for="taskDesc">Category</label>
                    <button class="btn btn-primary pull-right" onclick="searchTodoTaskServices.searchTasksCategoryWise();"><span class="glyphicon glyphicon-search"></span> Search </button>
                    <div id="group">
                        <input type="checkbox" value="Food" name="searchCategory"> Food
                        <input type="checkbox" value="Health" name="searchCategory"> Health
                        <input type="checkbox" value="Study" name="searchCategory"> Study
                        <input type="checkbox" value="Other" name="searchCategory"> Other
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-xs-4">
                    <h3>Click to open the related form</h3><br>
                    <div class="mycontent-left">
                      <ul>
                        <li><button class="btn btn-danger" onclick="deleteTodoTaskServices.TodoTaskBulkDelete();"><i class="fa fa-close"></i> Bulk Delete</button></li><br>
                        <li><button class="btn btn-primary " onclick="addTodoTaskServices.addTodoTask();"><i class="fa fa-plus"></i> Add Task</button></li><br>
                        <li><button class="btn btn-primary" onclick="mainServices.displayToDoTask(mainServices.getAllTasks(mainServices.getActiveUser()));"><i class="fa fa-th-list"></i> Display All Tasks</button></li><br>
                        <li><button class="btn btn-primary" onclick="sortTodoTaskServices.sortTaskAscOrder();"><i class="fa fa-sort-up"></i> Sort Task Ascending </button></li><br>
                        <li><button class="btn btn-primary" onclick="sortTodoTaskServices.sortTaskDescOrder();"><i class="fa fa-sort-down"></i> Sort Task Descending </button></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="mycontent-right">
                      <form id="addTaskForm" method="post" hidden="hidden" class="form-bg">
                        <h1>Add Task</h1>
                        <div class="form-group">
                          <label for="taskDesc">Task</label>
                          <input type="text" class="form-control" id="taskDesc" required>
                        </div>
                        <div class="form-group">
                          <label for="taskDesc">Category</label>
                          <div id="group">
                            <input type="checkbox" value="Food" name="category" onclick="mainServices.category(this,'category')"> Food
                            <input type="checkbox" value="Health" name="category" onclick="mainServices.category(this,'category')"> Health
                            <input type="checkbox" value="Study" name="category" onclick="mainServices.category(this,'category')"> Study
                            <input type="checkbox" value="Other" name="category" onclick="mainServices.category(this,'category')"> Other
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="dueDate">Due Date</label>
                          <input type="date" id="dueDate" name="dueDate">
                        </div>
                        <div class="form-group">
                          <label>
                            <input type="checkbox" id="isReminder" name="reminder" onclick="mainServices.TodoReminder('reminderDateDiv','reminderDate',this)"> Is Reminder
                          </label>
                        </div>
                        <div class="form-group" id="reminderDateDiv" hidden="hidden">
                          <label for="reminderDate">Reminder Date</label>
                          <input type="date" id="reminderDate" name="reminderDate">
                        </div>
                        <div class="form-group">
                          <label>
                            <input type="radio" id="isPublic" name="public"> Is Public
                          </label>
                        </div>
                        <br>
                        <br>
                        <div aria-label="group button">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" onclick="mainServices.closeForm('addTaskForm');" role="button" style="width: 136px;">Close</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-primary btn-hover-green" style="width: 136px;" data-action="save" role="button">Save</button>
                            </div>
                        </div>
                      </form>
                      <form id="editTaskForm" method="post" hidden="hidden" class="form-bg">
                          <input type="hidden" class="form-control" id="taskIndex">
                          <h1>Edit Task</h1>
                          <div class="form-group">
                              <label for="editTaskDesc">Task</label>
                              <input type="text" class="form-control" id="editTaskDesc" required>
                          </div>
                          <div class="form-group">
                              <label for="taskDesc">Category</label>
                              <div id="group">
                                  <input type="checkbox" id="Food" value="Food" name="editCategory" onclick="mainServices.category(this,'editCategory')"> Food
                                  <br>
                                  <input type="checkbox" id="Health" value="Health" name="editCategory" onclick="mainServices.category(this,'editCategory')"> Health
                                  <br>
                                  <input type="checkbox" id="Study" value="Study" name="editCategory" onclick="mainServices.category(this,'editCategory')"> Study
                                  <br>
                                  <input type="checkbox" id="Other" value="Other" name="editCategory" onclick="mainServices.category(this,'editCategory')"> Other
                                  <br>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="editDueDate">Due Date</label>
                              <input type="date" id="editDueDate" value="" name="editDueDate">
                          </div>
                          <div class="form-group">
                              <label>
                                  <input type="checkbox" id="editIsReminder" name="reminder" onclick="mainServices.TodoReminder('editReminderDateDiv','editReminderDate',this)"> Is Reminder
                              </label>
                          </div>
                          <div class="form-group" id="editReminderDateDiv" hidden="hidden">
                              <label for="reminderDate">Reminder Date</label>
                              <input type="date" id="editReminderDate" value="" name="reminderDate">
                          </div>
                          <div class="form-group">
                              <label>
                                  <input type="radio" id="editIspublic" name="public"> Is Public
                              </label>
                          </div>
                          <div class="form-group">
                              <label>
                                  <input type="checkbox" id="editIsDone" name="done"> Is Done
                              </label>
                          </div>
                          <br>
                          <br>
                          <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                              <div class="btn-group" role="group">
                                  <button type="button" class="btn btn-primary" style="width: 136px;"onclick="mainServices.closeForm('editTaskForm');" role="button">Close</button>
                              </div>
                              <div class="btn-group" role="group">
                                  <button type="submit" class="btn btn-primary btn-hover-green" style="width: 136px;" data-action="save" role="button">Save</button>
                              </div>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="jumbotron">
                <h3>All results are displayed below:</h3><br>
                <div class="well">
                  <ul class="todo-list ui-sortable" id="toDoList">
                    <li>
                      <span class="handle ui-sortable-handle">
                        <a href=""><i class="fa fa-ellipsis-v"></i></a>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                      <input type="checkbox" value="" name="">
                    </li>
                    <li>
                      <div class="tools">
                        <button><span class="glyphicon glyphicon-trash pull-right"></span></button>
                        <button><span class="glyphicon glyphicon-trash pull-right"></span></button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/localStorage.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/addTodoTask.js"></script>
    <script src="../js/editTodoTask.js"></script>
    <script src="../js/deleteTodoTask.js"></script>
    <script src="../js/sortTodoTask.js"></script>
    <script src="../js/searchTodoTask.js"></script>
    <br><br>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="linkEmail">Contact information: <a href="mailto:shruti.hiremath@cuelogic.com">shruti.hiremath@cuelogic.com</a></p>
                </div>
                <div class="col-sm-6 text-right">
                    <p class="linkEmail">© 2017. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>